@import './base.css';

body {
  background: linear-gradient(#202075, black);
  background-attachment: fixed;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

main {
  gap: 0.5em;
  padding: 1em;

  & > button,
  input:not([type]) {
    width: 100%;
    height: 100%;
  }

  & > input {
    padding: 0.8em;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: inset 0 0 2em #182b401f;
    place-self: stretch;
    border-radius: 0.5em;
    padding: 0.8em;
  }

  .option {
    align-items: flex-start;
  }
}

button,
input:not([type]),
select,
option {
  background: white;
  border-radius: var(--border-radius);
  border-color: var(--accent);
}

.small {
  font-size: 0.8em;
  line-height: 1.2em;
}

.dimmed {
  color: gray;
}

.active,
input,
button,
select {
  &:hover {
    background-color: var(--active-bg);
    box-shadow: 0 0 0.5em var(--active-bg);
  }
}

.v-move {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
